insightface
onnxruntime
opencv-python
numpy
Pillow
customtkinter
sounddevice
torch
torchvision
huggingface_hub
scipy
imageio
imageio-ffmpeg
lmdb
tqdm
rich
ffmpeg-python
onnx
scikit-image
albumentations
matplotlib
tyro
pykalman
